In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv
import warnings
warnings.filterwarnings('ignore')

In [2]:
adobe_csv = "ADBE.csv"
adobe_df = pd.read_csv(adobe_csv)
adobe_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock_Name
0,1/3/2007,40.720001,41.320000,38.889999,39.919998,39.919998,7126000,ADBE
1,1/4/2007,39.880001,41.000000,39.430000,40.820000,40.820000,4503700,ADBE
2,1/5/2007,40.779999,40.900002,40.119999,40.619999,40.619999,2730200,ADBE
3,1/8/2007,40.410000,40.970001,40.130001,40.450001,40.450001,5234800,ADBE
4,1/9/2007,40.500000,40.509998,39.380001,39.630001,39.630001,5672900,ADBE

In [3]:
alxn_csv = "ALXN.csv"
alxn_df = pd.read_csv(alxn_csv)
alxn_df.head()

       Date     Open     High      Low    Close  Adj Close   Volume Stock_Name
0  1/3/2007  10.1225  10.3275   9.9700  10.1525    10.1525  3268000       ALXN
1  1/4/2007  10.1250  10.2325  10.0050  10.1825    10.1825  1785200       ALXN
2  1/5/2007  10.1500  10.3650  10.0575  10.1150    10.1150  3026400       ALXN
3  1/8/2007  10.0925  10.1350   9.8225   9.8375     9.8375  2312400       ALXN
4  1/9/2007   9.8600   9.8700   9.6550   9.7625     9.7625  3556000       ALXN

In [4]:
anet_csv = "ANET.csv"
anet_df = pd.read_csv(anet_csv)
#anet_df.head()
anet_df = anet_df.rename(columns={"Stock_": "Date"})
anet_df
boot_csv = "BOOT.csv"
boot_df = pd.read_csv(boot_csv)
#boot_df.head()
bro_csv = "BRO.csv"
bro_df = pd.read_csv(bro_csv)
#bro_df.head()
bzun_csv= "BZUN.csv"
bzun_df = pd.read_csv(bzun_csv)
bzun2_df = bzun_df['Stock_Name'] = 'BZUN'
#bzun_df.head()
cdw_csv= "CDW.csv"
cdw_df = pd.read_csv(cdw_csv)
cdw2_df = cdw_df['Stock_Name'] = 'CDW'
#cdw_df.head()
chgg_csv= "CHGG.csv"
chgg_df = pd.read_csv(chgg_csv)
chgg2_df = chgg_df['Stock_Name'] = 'CHGG'
#chgg_df.head()
cmcsa_csv= "CMCSA.csv"
cmcsa_df = pd.read_csv(cmcsa_csv)
cmcsa2_df = cmcsa_df['Stock_Name'] = 'CMCSA'
#cmcsa_df.head()
cprt_csv= "CPRT.csv"
cprt_df = pd.read_csv(cprt_csv)
cprt2_df = cprt_df['Stock_Name'] = 'CPRT'
#cprt_df.head()
crm_csv= "CRM.csv"
crm_df = pd.read_csv(crm_csv)
crm2_df = crm_df['Stock_Name'] = 'CRM'
#crm_df.head()
ctre_csv= "CTRE.csv"
ctre_df = pd.read_csv(ctre_csv)
ctre2_df = ctre_df['Stock_Name'] = 'CTRE'
#ctre_df.head()
cvbf_csv= "CVBF.csv"
cvbf_df = pd.read_csv(cvbf_csv)
cvbf2_df = cvbf_df['Stock_Name'] = 'CVBF'
#cvbf_df.head()
edu_csv= "EDU.csv"
edu_df = pd.read_csv(edu_csv)
edu2_df = edu_df['Stock_Name'] = 'EDU'
#edu_df.head()
eeft_csv= "EEFT.csv"
eeft_df = pd.read_csv(eeft_csv)
eeft2_df = eeft_df['Stock_Name'] = 'EEFT'
#eeft_df.head()
eprt_csv= "EPRT.csv"
eprt_df = pd.read_csv(eprt_csv)
eprt2_df = eprt_df['Stock_Name'] = 'EPRT'
#eprt_df.head()
esnt_csv= "ESNT.csv"
esnt_df = pd.read_csv(esnt_csv)
esnt2_df = esnt_df['Stock_Name'] = 'ESNT'
#esnt_df.head()
ew_csv= "EW.csv"
ew_df = pd.read_csv(ew_csv)
ew2_df = ew_df['Stock_Name'] = 'EW'
#ew_df.head()
flt_csv= "FLT.csv"
flt_df = pd.read_csv(flt_csv)
flt2_df = flt_df['Stock_Name'] = 'FLT'
#flt_df.head()
fss_csv= "FSS.csv"
fss_df = pd.read_csv(fss_csv)
fss2_df = fss_df['Stock_Name'] = 'FSS'
#fss_df.head()
ftnt_csv= "FTNT.csv"
ftnt_df = pd.read_csv(ftnt_csv)
ftnt2_df = ftnt_df['Stock_Name'] = 'FTNT'
#ftnt_df.head()
hei_csv= "HEI.csv"
hei_df = pd.read_csv(hei_csv)
hei2_df = hei_df['Stock_Name'] = 'HEI'
#hei_df.head()
huya_csv= "HUYA.csv"
huya_df = pd.read_csv(huya_csv)
huya2_df = huya_df['Stock_Name'] = 'HUYA'
#huya_df.head()
inmd_csv= "INMD.csv"
inmd_df = pd.read_csv(inmd_csv)
inmd2_df = inmd_df['Stock_Name'] = 'INMD'
#inmd_df.head()
jcom_csv= "JCOM.csv"
jcom_df = pd.read_csv(jcom_csv)
jcom2_df = jcom_df['Stock_Name'] = 'JCOM'
#jcom_df.head()
jpm_csv= "JPM.csv"
jpm_df = pd.read_csv(jpm_csv)
jpm2_df = jpm_df['Stock_Name'] = 'JPM'
#jpm_df.head()
kl_csv= "KL.csv"
kl_df = pd.read_csv(kl_csv)
kl2_df = kl_df['Stock_Name'] = 'KL'
#kl_df.head()
lhx_csv= "LHX.csv"
lhx_df = pd.read_csv(lhx_csv)
lhx2_df = lhx_df['Stock_Name'] = 'LHX'
#lhx_df.head()
lulu_csv= "LULU.csv"
lulu_df = pd.read_csv(lulu_csv)
lulu2_df = lulu_df['Stock_Name'] = 'LULU'
#lulu_df.head()
momo_csv= "MOMO.csv"
momo_df = pd.read_csv(momo_csv)
momo2_df = momo_df['Stock_Name'] = 'MOMO'
#momo_df.head()
msft_csv= "MSFT.csv"
msft_df = pd.read_csv(msft_csv)
msft2_df = msft_df['Stock_Name'] = 'MSFT'
#msft_df.head()
mtz_csv= "MTZ.csv"
mtz_df = pd.read_csv(mtz_csv)
mtz2_df = mtz_df['Stock_Name'] = 'MTZ'
#mtz_df.head()
oled_csv= "OLED.csv"
oled_df = pd.read_csv(oled_csv)
oled2_df = oled_df['Stock_Name'] = 'OLED'
#oled_df.head()
payc_csv= "PAYC.csv"
payc_df = pd.read_csv(payc_csv)
payc2_df = payc_df['Stock_Name'] = 'PAYC'
#payc_df.head()
pcty_csv= "PCTY.csv"
pcty_df = pd.read_csv(pcty_csv)
pcty2_df = pcty_df['Stock_Name'] = 'PCTY'
#pcty_df.head()
pypl_csv= "PYPL.csv"
pypl_df = pd.read_csv(pypl_csv)
pypl2_df = pypl_df['Stock_Name'] = 'PYPL'
#pypl_df.head()
rexr_csv= "REXR.csv"
rexr_df = pd.read_csv(rexr_csv)
rexr2_df = rexr_df['Stock_Name'] = 'REXR'
#rexr_df.head()
rh_csv= "RH.csv"
rh_df = pd.read_csv(rh_csv)
rh2_df = rh_df['Stock_Name'] = 'RH'
#rh_df.head()
rp_csv= "RP.csv"
rp_df = pd.read_csv(rp_csv)
rp2_df = rp_df['Stock_Name'] = 'RP'
#rp_df.head()
sedg_csv= "SEDG.csv"
sedg_df = pd.read_csv(sedg_csv)
sedg2_df = sedg_df['Stock_Name'] = 'SEDG'
#sedg_df.head()
ssnc_csv= "SSNC.csv"
ssnc_df = pd.read_csv(ssnc_csv)
ssnc2_df = ssnc_df['Stock_Name'] = 'SSNC'
#ssnc_df.head()
stne_csv= "STNE.csv"
stne_df = pd.read_csv(stne_csv)
stne2_df = stne_df['Stock_Name'] = 'STNE'
#stne_df.head()
stor_csv= "STOR.csv"
stor_df = pd.read_csv(stor_csv)
stor2_df = stor_df['Stock_Name'] = 'STOR'
#stor_df.head()
syk_csv= "SYK.csv"
syk_df = pd.read_csv(syk_csv)
syk2_df = syk_df['Stock_Name'] = 'SYK'
#syk_df.head()
tkr_csv= "TKR.csv"
tkr_df = pd.read_csv(tkr_csv)
tkr2_df = tkr_df['Stock_Name'] = 'TKR'
#tkr_df.head()
tpx_csv= "TPX.csv"
tpx_df = pd.read_csv(tpx_csv)
tpx2_df = tpx_df['Stock_Name'] = 'TPX'
#tpx_df.head()
upld_csv= "UPLD.csv"
upld_df = pd.read_csv(upld_csv)
upld2_df = upld_df['Stock_Name'] = 'UPLD'
#upld_df.head()
v_csv= "V.csv"
v_df = pd.read_csv(v_csv)
v2_df = v_df['Stock_Name'] = 'V'
#v_df.head()
veev_csv= "VEEV.csv"
veev_df = pd.read_csv(veev_csv)
veev2_df = veev_df['Stock_Name'] = 'VEEV'
#veev_df.head()
wh_csv= "WH.csv"
wh_df = pd.read_csv(wh_csv)
wh2_df = wh_df['Stock_Name'] = 'WH'
#wh_df.head()

In [5]:
vertical_stack = pd.concat([adobe_df, alxn_df])
#df_union_all= pd.concat([df1, df2])
#print(df_union_all)
vertical_stack.head()
vertical_stack1= pd.concat([vertical_stack,anet_df])
vertical_stack1
vertical_stack2 = pd.concat([vertical_stack1, boot_df])
vertical_stack2
vertical_stack3 = pd.concat([vertical_stack2, bro_df])
vertical_stack3
vertical_stack4 = pd.concat([vertical_stack3, bzun_df])
vertical_stack4
vertical_stack5 = pd.concat([vertical_stack4, cdw_df])
vertical_stack5
vertical_stack6 = pd.concat([vertical_stack5, chgg_df])
vertical_stack6
vertical_stack7 = pd.concat([vertical_stack6, cmcsa_df])
vertical_stack7
vertical_stack8 = pd.concat([vertical_stack7, cprt_df])
vertical_stack8
vertical_stack9 = pd.concat([vertical_stack8, crm_df])
vertical_stack9
vertical_stack10 = pd.concat([vertical_stack9, ctre_df])
vertical_stack10
vertical_stack11 = pd.concat([vertical_stack10, edu_df])
vertical_stack11
vertical_stack12 = pd.concat([vertical_stack11, eeft_df])
vertical_stack12
vertical_stack13 = pd.concat([vertical_stack12, eprt_df])
vertical_stack13
vertical_stack14 = pd.concat([vertical_stack13, esnt_df])
vertical_stack14
vertical_stack15 = pd.concat([vertical_stack14, ew_df])
vertical_stack15
vertical_stack16 = pd.concat([vertical_stack15, flt_df])
vertical_stack16
vertical_stack17 = pd.concat([vertical_stack16, fss_df])
vertical_stack17
vertical_stack18 = pd.concat([vertical_stack17, ftnt_df])
vertical_stack18
vertical_stack19 = pd.concat([vertical_stack18, hei_df])
vertical_stack19
vertical_stack20 = pd.concat([vertical_stack19, huya_df])
vertical_stack20
vertical_stack21 = pd.concat([vertical_stack20, inmd_df])
vertical_stack21
vertical_stack22 = pd.concat([vertical_stack21, jcom_df])
vertical_stack22
vertical_stack23 = pd.concat([vertical_stack22, jpm_df])
vertical_stack23
vertical_stack24 = pd.concat([vertical_stack23, kl_df])
vertical_stack24
vertical_stack25 = pd.concat([vertical_stack24, lhx_df])
vertical_stack25
vertical_stack26 = pd.concat([vertical_stack25, lulu_df])
vertical_stack26
vertical_stack27 = pd.concat([vertical_stack26, momo_df])
vertical_stack27
vertical_stack28 = pd.concat([vertical_stack27, msft_df])
vertical_stack28
vertical_stack29 = pd.concat([vertical_stack28, mtz_df])
vertical_stack29
vertical_stack30 = pd.concat([vertical_stack29, oled_df])
vertical_stack30
vertical_stack31 = pd.concat([vertical_stack30, payc_df])
vertical_stack31
vertical_stack32 = pd.concat([vertical_stack31, pcty_df])
vertical_stack32
vertical_stack33 = pd.concat([vertical_stack32, pypl_df])
vertical_stack33
vertical_stack34 = pd.concat([vertical_stack33, rexr_df])
vertical_stack34
vertical_stack35 = pd.concat([vertical_stack34, sedg_df])
vertical_stack35
vertical_stack36 = pd.concat([vertical_stack35, ssnc_df])
vertical_stack36
vertical_stack37 = pd.concat([vertical_stack36, stne_df])
vertical_stack37
vertical_stack38 = pd.concat([vertical_stack37, stor_df])
vertical_stack38
vertical_stack39 = pd.concat([vertical_stack38, syk_df])
vertical_stack39
vertical_stack40 = pd.concat([vertical_stack39, tkr_df])
vertical_stack40
vertical_stack41 = pd.concat([vertical_stack40, upld_df])
vertical_stack41
vertical_stack42 = pd.concat([vertical_stack41, v_df])
vertical_stack42
vertical_stack43 = pd.concat([vertical_stack42, veev_df])
vertical_stack43
vertical_stack44 = pd.concat([vertical_stack43, wh_df])
vertical_stack44

,Date,Open,High,Low,Close,Adj Close,Volume,Stock_Name
0,1/3/2007,40.720001,41.320000,38.889999,39.919998,39.919998,7126000.0,ADBE
1,1/4/2007,39.880001,41.000000,39.430000,40.820000,40.820000,4503700.0,ADBE
2,1/5/2007,40.779999,40.900002,40.119999,40.619999,40.619999,2730200.0,ADBE
3,1/8/2007,40.410000,40.970001,40.130001,40.450001,40.450001,5234800.0,ADBE
4,1/9/2007,40.500000,40.509998,39.380001,39.630001,39.630001,5672900.0,ADBE
5,1/10/2007,39.150002,39.590000,38.730000,39.220001,39.220001,5652600.0,ADBE
6,1/11/2007,39.400002,40.380001,39.240002,39.880001,39.880001,4358600.0,ADBE
7,1/12/2007,39.650002,40.200001,39.500000,39.959999,39.959999,3682900.0,ADBE
8,1/16/2007,40.250000,40.750000,39.810001,40.049999,40.049999,5154000.0,ADBE
9,1/17/2007,40.029999,40.549999,39.799999,40.200001,40.200001,3588200.0,ADBE
10,1/18/2007,40.099998,40.400002,38.419998,38.570000,38.570000,5253800.0,ADBE
11,1/19/2007,38.320000,38.570000,37.500000,38.400002,38.400002,8014400.0,ADBE
12,1/22/2007,38.439999,38.630001,37.200001,37.830002,37.830002,6619400.0,ADBE
13,1/23/2007,37.650002,37.959999,37.369999,37.520000,37.520000,4659000.0,ADBE
14,1/24/2007,38.000000,39.740002,37.930000,39.689999,39.689999,7193900.0,ADBE
15,1/25/2007,39.720001,39.970001,38.840000,39.130001,39.130001,5774000.0,ADBE
16,1/26/2007,39.169998,39.660000,38.660000,39.259998,39.259998,4162300.0,ADBE
17,1/29/2007,39.400002,39.750000,38.910000,39.349998,39.349998,3994000.0,ADBE
18,1/30/2007,39.549999,39.549999,38.830002,39.009998,39.009998,5017100.0,ADBE
19,1/31/2007,38.880001,39.130001,38.279999,38.869999,38.869999,4714500.0,ADBE
20,2/1/2007,38.910000,38.990002,38.320000,38.759998,38.759998,4656800.0,ADBE
21,2/2/2007,39.049999,39.209999,38.419998,38.970001,38.970001,3222700.0,ADBE
22,2/5/2007,39.040001,39.060001,38.380001,38.439999,38.439999,3153200.0,ADBE
23,2/6/2007,39.080002,39.200001,38.000000,38.459999,38.459999,6089100.0,ADBE
24,2/7/2007,38.650002,38.849998,38.029999,38.150002,38.150002,4215200.0,ADBE
25,2/8/2007,38.180000,38.400002,37.930000,38.049999,38.049999,3965100.0,ADBE
26,2/9/2007,38.200001,38.340000,37.450001,37.680000,37.680000,4413100.0,ADBE
27,2/12/2007,37.990002,38.189999,37.470001,38.090000,38.090000,6753800.0,ADBE
28,2/13/2007,38.590000,39.070000,38.299999,38.430000,38.430000,7579700.0,ADBE
29,2/14/2007,38.439999,38.700001,38.419998,38.599998,38.599998,10016000.0,ADBE
...,...,...,...,...,...,...,...,...
332,2019-09-16,53.340000,53.619999,52.880001,53.250000,53.250000,606600.0,WH
333,2019-09-17,53.070000,53.384998,52.610001,53.009998,53.009998,431300.0,WH
334,2019-09-18,52.919998,53.230000,52.490002,52.889999,52.889999,607200.0,WH
335,2019-09-19,52.970001,53.410000,52.689999,53.110001,53.110001,581100.0,WH
336,2019-09-20,53.259998,53.549999,52.689999,53.220001,53.220001,1382300.0,WH
337,2019-09-23,52.970001,53.529999,52.770000,53.040001,53.040001,805000.0,WH
338,2019-09-24,53.150002,53.290001,51.580002,51.619999,51.619999,900600.0,WH
339,2019-09-25,51.599998,52.240002,51.009998,52.070000,52.070000,705500.0,WH
340,2019-09-26,51.970001,52.119999,50.910000,51.410000,51.410000,486200.0,WH
341,2019-09-27,51.669998,51.959999,50.950001,51.270000,51.270000,343900.0,WH
342,2019-09-30,51.240002,51.980000,51.240002,51.740002,51.740002,522300.0,WH
343,2019-10-01,51.900002,52.639999,51.250000,51.529999,51.529999,532700.0,WH
344,2019-10-02,51.590000,51.590000,50.299999,50.830002,50.830002,604600.0,WH
345,2019-10-03,50.689999,51.680000,50.009998,51.590000,51.590000,1194700.0,WH
346,2019-10-04,51.610001,52.099998,50.580002,51.139999,51.139999,1588700.0,WH
347,2019-10-07,51.070000,51.599998,50.790001,50.790001,50.790001,536300.0,WH
348,2019-10-08,50.270000,50.590000,49.470001,49.689999,49.689999,1231200.0,WH
349,2019-10-09,50.110001,50.918999,49.049999,49.599998,49.599998,878800.0,WH
350,2019-10-10,49.540001,50.215000,48.529999,48.959999,48.959999,1166000.0,WH
351,2019-10-11,49.700001,50.450001,49.689999,49.919998,49.919998,593100.0,WH
352,2019-10-14,49.669998,50.169998,49.119999,49.689999,49.689999,419500.0,WH
353,2019-10-15,49.779999,50.360001,49.660000,50.099998,50.099998,621800.0,WH
354,2019-10-16,50.110001,51.000000,50.060001,50.759998,50.759998,451300.0,WH
355,2019-10-17,50.810001,51.330002,50.639999,50.880001,50.880001,394400.0,WH
356,2019-10-18,50.759998,51.250000,50.500000,50.799999,50.799999,439800.0,WH
357,2019-10-21,51.349998,51.910000,50.779999,50.970001,50.970001,328100.0,WH
358,2019-10-22,50.970001,51.320000,50.540001,50.590000,50.590000,504200.0,WH
359,2019-10-23,50.480000,50.810001,50.080002,50.610001,50.610001,684900.0,WH
360,2019-10-24,50.930000,52.459999,50.930000,51.750000,51.750000,1004700.0,WH
361,2019-10-25,51.759998,53.099998,51.529999,53.000000,53.000000,619900.0,WH

In [6]:
merged_data = vertical_stack44.to_csv('merged_data.csv')